* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}


ul li {
    list-style: none;
}


.uppercase {
    text-transform: uppercase;
}

/* header */
header {
    width: 300px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0px 20px;
}

.logo {
    height: 80px;
}
.logo img {
    width: 60%;
    height: 80px;
}



/* main */

main {
    width: calc(100vw - 300px);
    height: calc(100vh - 90px);
    background-color: lightpink;
    overflow-y: auto;
}

.upgrade-bar {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.upgrade-button {
    float: right;
    right: 2px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 4px 40px;
    margin-top: 12px;
    margin-right: 5px;
}

.main-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.main-navbar ul li {
    display: inline-block;
    padding: 6px 10px;
}

/* music section */

.recently_played {
    flex-wrap: wrap;
}

.cover {
    width: 150px;
    margin: 4px;
}

.cover img {
    width: 100%;
    object-fit: cover;
}


/* footer */
footer {
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: darkslategray;
}